<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create theme</title>
</head>
<body>

{{echo}}

<h2>Создать новую тему</h2>

<form action="./?/admin/theme/create/" method="POST" enctype="">
    <label for="theme_new">Новая тема: </label>
    <input type="text" name="theme_new" id="theme_new">
    <br /><br />
    <button type="submit">Добавить тему в базу данных</button>
</form>
    
</body>
</html>