<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>question edit</title>
<style>
body {
 font-family: sans-serif; 
 font-size: 15px; 
}
ol, ul { 
margin: 20px; 
}
li { 
margin: 15px; 
}
</style>
</head>
<body>

<a href="./?/admin/list/">Вернуться к списку действий на правах администратора</a>

<h2>
Редактировать вопрос: 
<br />
{{ question }}
<br />
На тему: 
<br />
{{ theme }}
</h2>

Вопрос был задан пользователем: 
{{ user_name }} (Логин: {{ user_email }})

<form action="./?/admin/question/edit/{{id}}/" method="POST" enctype="">
<input type="hidden" name="action" value="edit_question" />
<ul>
	<li>id вопроса: {{ id }}</li>
	<li>
		<label>текст вопроса: <br />
			<textarea name="question" id="question" rows="3" cols="40">{{ question }}</textarea>
		</label>
	</li>
	<li>
		<label>текст ответа: <br />
			<textarea name="answer" id="answer" rows="3" cols="40">{{ answer }}</textarea>
		</label>
	</li>
	<li>
		<label>изменить тему вопроса:  
			<select size="1" name="theme">
				<option value="{{ id_theme_quest }}">{{ theme }}</option>
				{% for row in themes.array %} 
				<option value="{{ row.id }}">{{ row.description }} - {{ row.date_added }}</option>
				{% endfor %}
			</select>
		</label>
	</li>
	<li>
		<label>изменить автора вопроса:  
			<select size="1" name="autor">
				<option value="{{ id_user_quest }}">
				{{ user_name }}
				</option>
				{% for autor in autors.array %} 
				<option value="{{ autor.id }}">{{ autor.name }} - {{ autor.email }}</option>
				{% endfor %}
			</select>
		</label>
	</li>
	<li>
		<label>изменить статус:  
			<select size="1" name="status">
				<option value="{{ status }}">
				{% if status==1 %} 
				ожидает ответа
				{% elseif status==2 %} 
				опубликован 
				{% elseif status==3 %} 
				скрыт 
				{% else %} 
				странный статус
				{% endif %}
				</option>
				<option value="1">ожидает ответа</option>
				<option value="2">опубликован</option>
				<option value="3">скрыт</option>
			</select>
		</label>
	</li>
</ul>
<button type="submit">Редактировать вопрос</button>
</form>

</body>
</html>