<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete question</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
}
td {
padding: 10px; 
}
</style>
</head>
<body>

{{echo}}

<h2>Вы действительно хотите удалить вопрос?</h2>

<form action="./?/admin/question/delete/{{id}}/" method="POST" enctype="">
<input type="hidden" name="action" value="delete_question" />
<table>
	<tr>
		<th>id</th>
		<th>вопрос</th>
		<th>статус</th>
	</tr>
	<tr>
		<td>{{id}}</td>
		<td>{{question}}</td>
		<td>
		{% if status==1 %} 
		ожидает ответа
		{% elseif status==2 %} 
		опубликован 
		{% elseif status==3 %} 
		скрыт 
		{% else %} 
		странный статус
		{% endif %}
		</td>
	</tr>
</table>
    <button type="submit">Удалить вопрос!</button>
</form>
    
</body>
</html>