<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit admin</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
}
td {
padding: 10px; 
}
</style>
</head>
<body>

{{echo}}

<h2>Изменить пароль администратора</h2>

<form action="./?/admin/admin/edit/{{id}}/" method="POST" enctype="">
<table>
	<tr>
		<th>id</th>
		<th>Логин</th>
		<th>Пароль</th>
	</tr>
	<tr>
		<td>{{id}}</td>
		<td>{{login}}</td>
		<td>
		    <label for="password_edit">
		    <input type="password" name="password_edit" id="password_edit"></label>
		</td>
	</tr>
</table>
<button type="submit">Изменить пароль</button>
</form>
    
</body>
</html>