<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Вход</title>
</head>
<body>

{{echo}} 

<h2>Авторизоваться</h2>

<form action="./?/admin/admin/authorization/" method="POST" enctype="">
    <label for="login">Логин: </label>
    <input type="text" name="login" id="login">
    <br /><br />

    <label for="password">Пароль: </label>
    <input type="password" name="password" id="password">
    <br /><br />

    <button type="submit">Войти</button>
    <br />
</form>


</body>
</html>