<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>answer add</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
}
ol, ul { 
margin: 20px; 
}
li { 
margin: 15px; 
}
</style>
</head>
<body>

<a href="./?/admin/list/">Вернуться к списку действий на правах администратора</a>

<h2>
Добавить ответ на вопрос: 
<br />
{{ question }}
</h2>

<form action="./?/admin/answer/add/{{id}}/" method="POST" enctype="">
<ul>
	<li>id вопроса: {{ id }}</li>
	<li>тема вопроса: {{ theme }}</li>
	<li>текст вопроса: {{ question }}</li>
	<li>дата вопроса: {{ date_added }}</li>
	<li>автор вопроса: {{ user_name }} 
	(Логин: {{ user_email }})</li>
	<li>
		<label>текст ответа: <br />
			<textarea name="answer" id="answer" rows="3" cols="40">{{ answer }}</textarea>
		</label>
	</li>
	<li>
		<label>изменить статус:  
			<select size="1" name="status">
				<option value="{{ status }}">
				{% if status==1 %} 
				ожидает ответа
				{% elseif status==2 %} 
				опубликован 
				{% elseif status==3 %} 
				скрыт 
				{% else %} 
				странный статус
				{% endif %}
				</option>
				<option value="1">ожидает ответа</option>
				<option value="2">опубликован</option>
				<option value="3">скрыт</option>
			</select>
		</label>
	</li>
</ul>
<button type="submit">Добавить ответ</button>
</form>

</body>
</html>