<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list themes</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
} 
th {
padding: 10px; 
text-align: left;
} 
td {
padding: 10px; 
text-align: center;
}
</style>
</head>
<body>

<a href="./?/admin/list/">Вернуться к списку действий на правах администратора</a>

<h2>Список тем с кол-вом вопросов (всего\опубликованных\ожидающих ответа)</h2>

<table>
<tr>
	<th>id</th>
	<th>тема</th>
	<th>дата <br />добавления</th>
	<th>всего <br />вопросов <br />кол-во</th>
	<th>вопросы <br />ожидающие <br />ответа</th>
	<th>кол-во <br />опубликованных <br />вопросов</th>
	<th>кол-во <br />скрытых <br />вопросов</th>
	<th></th>
	<th></th>
</tr>
{% for row in themes %} 
<tr>
	<td>{{ row.id_theme }}</td>
	<td>{{ row.theme }}</td>
	<td>{{ row.date_added }}</td>
	<td>{{ row.total }}</td>
	<td>{{ row.waiting_answered }}</td>
	<td>{{ row.published }}</td>
	<td>{{ row.hidden }}</td>
	<td>
	<a href="./?/admin/theme/delete/{{ row.id_theme }}/">
	Удалить тему
	</a>
	</td>
	<td>
	<a href="./?/admin/question/view/{{ row.id_theme }}/">
	Смотреть вопросы по теме
	</a>
	</td>
</tr>
{% endfor %}
</table>

</body>
</html>