<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add admin</title>
</head>
<body>

{{echo}}

<h2>Добавить нового администратора</h2>

<form action="./?/admin/admin/add/" method="POST" enctype="">
    <label for="login_new">Логин: </label>
    <input type="text" name="login_new" id="login_new">
    <br /><br />

    <label for="password_new">Пароль: </label>
    <input type="password" name="password_new" id="password_new">
    <br /><br />

    <button type="submit">Добавить нового администратора</button>
    <br />
</form>
    
</body>
</html>