<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete admin</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
}
td {
padding: 10px; 
}
</style>
</head>
<body>

{{echo}}

<h2>Вы действительно хотите удалить учетную запись администратора?</h2>

<form action="./?/admin/admin/delete/{{id}}/" method="POST" enctype="">
<input type="hidden" name="action" value="delete_admin" />
<table>
	<tr>
		<th>id</th>
		<th>Логин</th>
		<!--<th>Пароль</th>-->
	</tr>
	<tr>
		<td>{{id}}</td>
		<td>{{login}}</td>
		<!--<td>{{password}}</td>-->
	</tr>
</table>
    <button type="submit">Удалить запись!</button>
</form>
    
</body>
</html>