<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>add admin successfully</title>
</head>
<body>

<br /><br />
Новый администратор добавлен в базу данных
<br /><br />
<a href="./?/admin/list/">Вернуться к выбору действий на правах администратора</a>

</body>
</html>