<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>admin list</title>
<style>
body {
 font-family: sans-serif; 
 font-size: 15px; 
}
ol, ul { 
margin: 10px; 
}
li { 
margin: 5px; 
}
</style>
</head>
<body>

<h2>Выберите действие на правах администратора</h2>

<ol>
	<li>
	<a href="./?/admin/admin/view/">
	Просмотр списка администраторов (изменение паролей, удаление)
	</a>
	</li>
			<ul>
				<li>Замена поролей администраторов</li>
				<li>Удаление администратора из базы данных</li>
			</ul>
		<li>
		<a href="./?/admin/admin/add/">
		Добавить нового администратора
		</a>
		</li>
	<li>
	<a href="./?/admin/theme/view/">
	Просмотр списка тем с кол-вом вопросов (всего\опубликованных\ожидающих ответа) 
	</a>
	</li>
			<ul>
			<li>Удаление темы</li>
			<li>Просмотр вопросов по теме
				<ul>
				<li>Удаление вопроса из темы</li>
				<li>Добавление ответа на вопрос</li>
				<li>Редактирование вопроса
					<ul>
					<li>Закрытие опубликованных вопросов</li>
					<li>Публикация скрытых вопросов</li>
					<li>Редактирование автора</li>
					<li>Редактирование текста вопроса и ответа</li>
					<li>Перемещение вопроса из одной темы в другую</li>
					</ul>
				</li>
				</ul>
			</li>
			</ul>
		<li>
		<a href="./?/admin/theme/create/">
		Создать новую тему
		</a>
		</li>
	<li>
	<a href="./?/admin/answer/view/">
	Смотреть список всех вопросов без ответа во всех темах в порядке их добавления. Редактировать эти вопросы и удалять.
	</a>
	</li>
</ol>

</body>
</html>