<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>list question</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
} 
th {
padding: 10px; 
text-align: left;
} 
td {
padding: 10px; 
text-align: center;
}
</style>
</head>
<body>

<a href="./?/admin/list/">Вернуться к списку действий на правах администратора</a>

<h2>Список вопросов по теме: {{theme}}</h2>

<table>
<tr>
	<th>id</th>
	<th>вопрос - ответ</th>
	<th>дата добавления</th>
	<th>статус</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
{% for question in questions %} 
<tr>
	<td>{{ question.id }}</td>
	<td>
		{{ question.question }}
		<br />
		- {{ question.answer }}	
	</td>
	<td>{{ question.date_added }}</td>
	<td>
		{% if question.status==1 %} 
		ожидает ответа
		{% elseif question.status==2 %} 
		опубликован 
		{% elseif question.status==3 %} 
		скрыт 
		{% else %} 
		странный статус
		{% endif %}
	</td>
	<td>
	<a href="./?/admin/question/delete/{{ question.id }}/">
	Удалить 
	</a>
	</td>
	<td>
	<a href="./?/admin/answer/add/{{ question.id }}/">
	Ответить 
	</a>
	</td>
	<td>
	<a href="./?/admin/question/edit/{{ question.id }}/">
	Редактировать 
	</a>
	</td>
</tr>
{% endfor %}
</table>

</body>
</html>