<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete theme</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
}
td {
padding: 10px; 
}
</style>
</head>
<body>

{{echo}}

<h2>Вы действительно хотите удалить тему и все вопросы в ней?</h2>

<form action="./?/admin/theme/delete/{{id}}/" method="POST" enctype="">
<input type="hidden" name="action" value="delete_theme" />
<table>
	<tr>
		<th>id</th>
		<th>дата добавления темы <br />в базу данных</th>
		<th>Тема (описание)</th>
	</tr>
	<tr>
		<td>{{id}}</td>
		<td>{{date_added}}</td>
		<td>{{description}}</td>
	</tr>
</table>
    <button type="submit">Удалить тему и все вопросы в ней!</button>
</form>
    
</body>
</html>