<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>delete question successfully</title>
</head>
<body>

<br /><br />
{{echo}}
<br /><br />
<a href="./?/admin/list/">Вернуться к выбору действий на правах администратора</a>

</body>
</html>