<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list admins</title>
<style>
body { 
font-family: sans-serif; 
font-size: 15px; 
} 
table { 
padding: 10px; 
} 
td { 
padding: 10px; 
} 
</style>
</head>
<body>

<a href="./?/admin/list/">Вернуться к списку действий на правах администратора</a>

<h2>Список администраторов</h2>

<table>
<tr>
	<th>id</th>
	<th>Логин</th>
	<th>Кодированный пароль из БД</th>
</tr>
{% for row in array %} 
<tr>
	<td>{{ row.id }}</td>
	<td>{{ row.login }}</td>
	<td>{{ row.password }}</td>
	<td>
	<a href="./?/admin/admin/edit/{{ row.id }}/">
	Изменить пароль
	</a>
	</td>
	<td>
	<a href="./?/admin/admin/delete/{{ row.id }}/">
	Удалить
	</a>
	</td>
</tr>
{% endfor %}
</table>

</body>
</html>