<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>question successfully</title>
</head>
<body>

<br /><br />
Ваш вопрос добавлен в базу данных 
<br /><br />
<a href="./index.php">Вернуться к списку вопросов</a>

</body>
</html>