<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>delete theme successfully</title>
</head>
<body>

<br /><br />
Тема была успешно удалена из базы данных
<br /><br />
<a href="./?/admin/list/">Вернуться к выбору действий на правах администратора</a>

</body>
</html>