<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>new question</title>
<style>
body {
 font-family: sans-serif;
 font-size: 15px;
}
table {
padding: 4px;
}
td {
padding: 4px;
}
</style>
</head>
<body>

{{echo}}

<h2>Новый вопрос</h2>

<form action="./?/user/question/add/" method="POST" enctype="">
<input type="hidden" name="id_theme" value="{{id_theme}}" />
<table>
<tr>
    <td><label for="user_name">Ваше имя</label></td>
    <td><input type="text" name="user_name" id="user_name"></td>
</tr>
<tr>
    <td><label for="user_email">Ваша эл.почта</label></td>
    <td><input type="text" name="user_email" id="user_email"></td>
</tr>
<tr>
    <td><label for="user_question">Ваш вопрос</label></td>
    <td><textarea name="user_question" id="user_question" rows="10" cols="45" ></textarea></td>
</tr>
</table>
<br /><br />
<button type="submit">Задать вопрос</button>
</form>

</body>
</html>