<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list themes</title>
<style>
body { 
 font-family: sans-serif; 
 font-size: 15px; 
} 
table {
padding: 10px; 
}
td {
padding: 10px; 
}
</style>
</head>
<body>

<a href="./?/user/view/">Загрузить список вопросов</a>

<h2>Список тем</h2>

<table>
{% for row in array %} 
<tr>
	<td>{{ row.id }}</td>
	<td>{{ row.date_added }}</td>
	<td>{{ row.description }}</td>
	<td>
	<a href="./?/user/question/add/{{ row.id }}/">
	Задать вопрос по этой теме
	</a>
	</td>
</tr>
{% endfor %}
</table>

</body>
</html>