<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>list question</title>
<style>
body {
font-family: sans-serif;
font-size: 15px;
} 
ol, ul { 
margin: 10px; 
} 
li { 
margin: 10px; 
} 
.sub-menu 
{ 
display: none; 
} 
.main-item:focus ~ .sub-menu, 
.main-item:active ~ .sub-menu, 
.sub-menu:hover 
{ 
display: block; 
} 
</style>
</head>
<body>

<a href="./?/user/theme/view/">Загрузить список тем</a>
<br />
<a href="./?/admin/admin/authorization/">Войти как администратор</a>

<h2>Список вопросов</h2>

<ol>
	{% for theme in questions %} 
	<li>
	{{ theme.theme }}
	<ul id="main_nav">
		{% for question in theme.array %} 
		<li><a class="main-item" href="javascript:void(0);" tabindex="1">{{ question.question }}</a> 
			<ul class="sub-menu">
				<li>Ответ: {{ question.answer }}</li>
			</ul>
		</li>
		{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ol>

</body>
</html>